html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body(background='http://www.gifmania.co.uk/Video-Games-Animated-Gifs/Animated-Mmorpg-Video-Games/League-Legends/Crazy-Jinx-69824.gif')
    div.container
      div.jumbotron
        h1 Hello!
     
        if user
          p Welcome, #{user.fullName}
          p
            a.small(href="profile") Edit my profile
          form(action='/logout', method='POST')
            button.btn.btn-default(type="submit") Logout
        else
          p Welcome summoner!
          p
            a.btn.btn-primary(href="/login") Login now
          p
            span.small Don't have an account?
            span &nbsp;
            a.small(href="/register") Register now
            
            // Start of StatCounter Code for Default Guide
    script(type='text/javascript').
      var sc_project=11182241;
      var sc_invisible=1;
      var sc_security="b9677189";
      var scJsHost = (("https:" == document.location.protocol) ?
      "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" +
      scJsHost+
      "statcounter.com/counter/counter.js'></"+"script>");
    noscript
      .statcounter
        a(title='shopify\
        analytics', href='http://statcounter.com/shopify/', target='_blank')
          img.statcounter(src='//c.statcounter.com/11182241/0/b9677189/1/', alt='shopify analytics')
    // End of StatCounter Code for Default Guide
    a(href='http://statcounter.com/p11182241/?guest=1')
      
    .container
    .row
        
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 1', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 2', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 3', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 4', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 5', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 6', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 8', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 9', href='#')
            img.thumbnail.img-responsive(src='//placehold.it/600x350/992233')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 10', href='#')
            img.thumbnail.img-responsive(src='//placehold.it/600x350/EEE')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 11', href='#')
            img.thumbnail.img-responsive(src='//placehold.it/600x350/449955/FFF')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 12', href='#')
            img.thumbnail.img-responsive(src='//placehold.it/600x350/DDD')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 13', href='#')
            img.thumbnail.img-responsive(src='//placehold.it/600x350/992233')
         .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 1', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 2', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 3', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 4', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 5', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 6', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 8', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
         .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 1', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 2', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 3', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 4', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 5', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 6', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')
        .col-lg-2.col-sm-4.col-xs-6
          a(title='Image 8', href='#')
            img.thumbnail.img-responsive(src='http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Draven_0.jpg')      
        hr
        hr
    

      
            